body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.laptop-screen {
    background-color: #080817;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px rgba(229, 233, 240, 0.5);
}

.logo {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #00bfff;
}

.logo::before {
    content: "JL";
    color: #fff;
    font-size: 20px;
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #00bfff;
    border-radius: 5px;
    background-color: #0a0a2a;
    color: #fff;
    outline: none;
}

.input-field input:focus {
    box-shadow: 0 0 10px #00bfff;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 1px;
    background-color: #00bfff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #0b74dd;
}

